Вам необходимо загрузить набор данных «**subset-covid-data.csv**», содержащий данные о количестве случаев и смертей, связанных с пандемией **COVID-19**, для разных стран. https://github.com/DataRepo2019/Data-files или  https://github.com/DataRepo2019/Data-files/blob/master/subset-covid-data.csv

# **ЗАДАНИЕ 1**
Напишите функцию / индексатор / атрибут в Pandas для:

In [56]:
import numpy as np
from scipy.integrate import odeint
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# 1.1	Импорта данных из файла HTML.
pd.read_html(url)

In [ ]:
# 1.2	Экспорта данных в файл Excel.
df.to_excel(name_of_file)

In [ ]:
# 1.3	Выбора данных с использованием позиции индекса.
df.iloc(index)

In [ ]:
# 1.4	Выбора данных по метке.
df.loc()

In [ ]:
# 1.5	Замены нулевых значений медианой.
df['Znach'].fillna("No smth")

In [ ]:
# 1.6	Переименования столбцов.
df.rename(columns={'a': 'b'}, inplace=True)

In [ ]:
# 1.7	Получения количества строк и столбцов в DataFrame.
df.shape[0]  # строк
df.shape[1]  # столбцов

In [ ]:
# 1.8	Преобразования в широкоформатный формат с помощью функции поворота.
# ваш код

In [ ]:
# 1.9	Выполнения внутреннего соединения двух таблиц.
df.merge(df1,df2)

In [ ]:
# 1.10	Изменение типа данных серии.
df.astype({'a': np.float})

# **ЗАДАНИЕ 2**
Функция **df.describe()** возвращает следующие сводные статистические значения: количество, минимум, максимум, стандартное отклонение, процентили и средние значения.

In [ ]:
# 2.1 Какой параметр вы бы добавили, чтобы получить следующее:
# количество уникальных значений, значение, которое встречается чаще всего,
# и частота этого значения?

# ваш код

# **ЗАДАНИЕ  3**
Импортируйте «**subset-covid-data.csv**» в **DataFrame**. Выберите следующие данные:

In [3]:
from google.colab import files

uploaded = files.upload()

Saving subset-covid-data.csv to subset-covid-data.csv

In [22]:
df_covid = pd.read_csv('subset-covid-data.csv')

In [23]:
df_covid

,country,continent,date,day,month,year,cases,deaths,country_code,population
0,Afghanistan,Asia,2020-04-12,12,4,2020,34,3,AFG,37172386.0
1,Albania,Europe,2020-04-12,12,4,2020,17,0,ALB,2866376.0
2,Algeria,Africa,2020-04-12,12,4,2020,64,19,DZA,42228429.0
3,Andorra,Europe,2020-04-12,12,4,2020,21,2,AND,77006.0
4,Angola,Africa,2020-04-12,12,4,2020,0,0,AGO,30809762.0
...,...,...,...,...,...,...,...,...,...,...
201,Venezuela,America,2020-04-12,12,4,2020,0,0,VEN,28870195.0
202,Vietnam,Asia,2020-04-12,12,4,2020,4,0,VNM,95540395.0
203,Yemen,Asia,2020-04-12,12,4,2020,0,0,YEM,28498687.0
204,Zambia,Africa,2020-04-12,12,4,2020,0,0,ZMB,17351822.0
205,Zimbabwe,Africa,2020-04-12,12,4,2020,3,0,ZWE,14439018.0

In [24]:
# 3.1	Столбцы  'country'  и 'continent'.

cou_cont = df_covid[['country', 'continent']]

In [29]:
# 3.2	Установите столбец 'country' в качестве индекса и извлеките численность населения, 
# для страны “Algeria” с помощью индексаторов at или loc.

df_covid.set_index('country')
df_covid.loc[2].at['population']

42228429.0

In [30]:
# 3.3	Выберите значение в 50-й строке и 3-м столбце с помощью iloc или индексатора iat.

df_covid.iat[50, 3]

12

In [33]:
# 3.4	Получите код страны и данные о населении последних трех записей.
df_covid[['country_code', 'population']].tail(3)

    country_code  population
203          YEM  28498687.0
204          ZMB  17351822.0
205          ZWE  14439018.0

In [39]:
# 3.5	Выберите данные для стран с большим населением: более 2,5 миллионов, а количество заболевших - более 3000.

rslt_df = df_covid[df_covid['population'] > 2500000]
rslt_df1 = rslt_df[rslt_df['cases'] > 3000]
rslt_df1

,country,continent,date,day,month,year,cases,deaths,country_code,population
69,France,Europe,2020-04-12,12,4,2020,3114,635,FRA,66987244.0
98,Italy,Europe,2020-04-12,12,4,2020,4694,619,ITA,60431283.0
177,Spain,Europe,2020-04-11,11,4,2020,4550,605,ESP,46723749.0
190,Turkey,Asia,2020-04-12,12,4,2020,5138,95,TUR,82319724.0
195,United_Kingdom,Europe,2020-04-12,12,4,2020,8719,839,GBR,66488991.0
198,United_States_of_America,America,2020-04-12,12,4,2020,28391,1831,USA,327167434.0

# **ЗАДАНИЕ 4**
Импортируйте данные для файла «**subset-covid-data.csv**» в DataFrame и напишите код для следующего:

In [45]:
# 4.1. Удалить столбец «country_code».

x=df_covid.pop('country_code')

In [46]:
df_covid

,country,continent,date,day,month,year,cases,deaths,population
0,Afghanistan,Asia,2020-04-12,12,4,2020,34,3,37172386.0
1,Albania,Europe,2020-04-12,12,4,2020,17,0,2866376.0
2,Algeria,Africa,2020-04-12,12,4,2020,64,19,42228429.0
3,Andorra,Europe,2020-04-12,12,4,2020,21,2,77006.0
4,Angola,Africa,2020-04-12,12,4,2020,0,0,30809762.0
...,...,...,...,...,...,...,...,...,...
201,Venezuela,America,2020-04-12,12,4,2020,0,0,28870195.0
202,Vietnam,Asia,2020-04-12,12,4,2020,4,0,95540395.0
203,Yemen,Asia,2020-04-12,12,4,2020,0,0,28498687.0
204,Zambia,Africa,2020-04-12,12,4,2020,0,0,17351822.0
205,Zimbabwe,Africa,2020-04-12,12,4,2020,3,0,14439018.0

In [47]:
# 4.2. Вставить этот столбец обратно.

df_covid.insert(8,'country_code',x)

In [48]:
# 4.3. Удалить первые три строки.

df_covid.drop([0,1,2],inplace=True)

In [ ]:
#  4.4. Добавить удаленные первые три строки обратно.

# ваш код

# **ЗАДАНИЕ 5**
Следующий DataFrame записывает изменение веса четырех человек:
![Снимок.JPG]()

In [53]:
#   5.1. Создайте из таблицы  DataFrame.

data = {'Anna': [51.0,52.0,51.4,52.8,50.5], 'Ben' : [70.0,70.5,69.1, 69.8, 70.5], 'Carole': [64.0, 64.2, 66.8, 66.0, 63.4], 'Dave': [81.0,81.3,80.5,80.9,81.4]}
df = pd.DataFrame(data)
df

   Anna   Ben  Carole  Dave
0  51.0  70.0    64.0  81.0
1  52.0  70.5    64.2  81.3
2  51.4  69.1    66.8  80.5
3  52.8  69.8    66.0  80.9
4  50.5  70.5    63.4  81.4

In [ ]:
#  5.2. Преобразуйте этот DataFrame в tidy format.

In [61]:
#  5.3. Определите, у кого из этих четырех человек было меньше всего колебаний по весу.
df.describe()

            Anna        Ben     Carole       Dave
count   5.000000   5.000000   5.000000   5.000000
mean   51.540000  69.980000  64.880000  81.020000
std     0.893308   0.580517   1.446375   0.356371
min    50.500000  69.100000  63.400000  80.500000
25%    51.000000  69.800000  64.000000  80.900000
50%    51.400000  70.000000  64.200000  81.000000
75%    52.000000  70.500000  66.000000  81.300000
max    52.800000  70.500000  66.800000  81.400000

In [ ]:
#  5.4. Для людей, чей средний вес менее 65 кг, пересчитайте их
#  вес (за все четыре дня) в фунтах и отобразить эти данные.